@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech', sans-serif;
}

#info {
    position: absolute;
    top: 3rem;
    left: 1.5rem;
    max-width: 100%;
    color: white;
    text-align: left;
    z-index: 100;
    display: block;
    font-family: 'Share Tech', sans-serif;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8),
                 0 0 20px rgba(0, 255, 255, 0.6),
                 0 0 30px rgba(0, 255, 255, 0.4);
}
